[user]
	name = Brandon Vo
	email = brandonwvo@gmail.com

[core]
	editor = vim

[alias]
	co = checkout
	br = branch
	c = commit
	cm = commit -m
	ca = commit --amend
	can = commit --amend --no-edit
	st = status
	df = diff
	aa = add --all
	ap = add -p
	uncommit = "!f() { git reset --soft HEAD~${1:-1}; }; f"
	undo = "!f() { git reset HEAD~${1:-1}; }; f"
	discard = "!f() { git reset --hard HEAD~${1:-1}; }; f"
	undo-reset = "!f() { git reset 'HEAD@{${1:-1}}'; }; f"
	last = log -n 1 HEAD~1
	lg = log --oneline
	lga = "log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
  others = "ls-files --others --ignored --exclude-from=.gitignore"
	wip = "!f() { git add --all && git commit -m 'Work in progress'; }; f"
	sync = "!f() { branch=${1:-main}; diff_output=$(git diff --quiet; echo $?); if [ $diff_output -eq 1 ]; then git stash push; fi; git checkout $branch && git fetch --all && git pull origin $branch && git checkout - && git rebase $branch; if [ $diff_output -eq 1 ]; then git stash pop; fi; }; f"
	rebase-same-date = rebase -i --committer-date-is-author-date
	remote-restore = reset --hard origin/main
	hard-clean = "!f() { git reset --hard && git clean -fd; }; f"

	ss = stash
	sl = stash list
	sa = stash apply
	spo = stash pop
	spu = stash push -m
	ssh = stash show -p
	sd = stash drop
