[user]
	name = Brandon Vo
	email = brandonwvo@gmail.com

[core]
	editor = vim

[alias]
	co = checkout
	br = branch
	c = commit
	ca = commit --amend
	can = commit --amend --no-edit
	st = status
	df = diff
	aa = add --all
	ap = add -p
	uncommit = reset --soft HEAD~1
	unstage = reset HEAD~1
	discard = reset --hard HEAD~1
	undo-reset = "reset 'HEAD@{1}'"
	last = log -n 1 HEAD~1
	lg = log --oneline
	lga = "log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
  others = "ls-files --others --ignored --exclude-from=.gitignore"
	wip = "!f() { git add --all && git commit -m 'Work in progress'; }; f"
	rebase-same-date = rebase -i --committer-date-is-author-date
	remote-restore = reset --hard origin/main
	hard-clean = "!f() { git reset --hard && git clean -fd; }; f"

	ss = stash
	sl = stash list
	sa = stash apply
	spo = stash pop
	spu = stash push -m
	ssh = stash show -p
	sd = stash drop
